#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=performer
Icon=performer
Type=Application
Categories=Qt;KDE;AudioVideo
Comment=Live performance audio session manager
Name=Performer

Comment[de]=Audio-Sessionmanager für Liveauftritte
